---
layout: default
---

<div class="home">
  <h2>Stuff I made:</h2>

  <div class="posts">
      <div class="post {% if site.animated %}animated fade-in-down{% endif %}">
        <a href="{{ site.baseurl }}/bubble-tennis-infatuation/" class="post-link">
          <h3 class="post-title">Bubble Tennis Infatuation</h3>
          <p class="post-summary">A future sports game... it's rad</p>
        </a>
      </div>
  </div>

  <hr/>

  <h2>Stuff I wrote:</h2>
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post {% if site.animated %}animated fade-in-down{% endif %}">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h3 class="post-title">{{ post.title }}</h3>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
