---
layout: default
---

<div class="home">
  <h2>Stuff I made:</h2>

  <div class="posts">
    {% for page in site.pages %}
      {% if page.categories contains 'home' and page.categories contains 'games' %}
        <div class="post post-home-list {% if site.animated %}animated fade-in-down{% endif %}">
          <a href="{{ page.permalink }}" class="post-link">
            <img src="{{ page.image }}"/>
            <div>
              <h3 class="post-title">{{ page.title }}</h3>
              <p class="post-summary">{{ page.description }}</p>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
      
  </div>

  <hr class="home-hr"/>

  <h2>Stuff I wrote:</h2>
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post {% if site.animated %}animated fade-in-down{% endif %}">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h3 class="post-title">{{ post.title }}</h3>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
